
<!DOCTYPE html>
<html lang="en" ng-app="bombermanApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body ng-controller="bomberControl">
    <div class="mapContainer path {{y}}" data-ng-class-even="'bedrock'" ng-repeat="y in ycord track by $index">
        <cell class="path {{x}}" data-ng-class-even="'bedrock'" ng-repeat="x in xcord track by $index" >{{x}}.{{y}}</cell>
    </div>
    <p>move with wasd keys and place a bomb using the space key
          (changed it to wasd instead of the arrow keys so it wouldn't scroll up or down when the up/down arrow keys were pressed.)
    </p>

    <script src="./assets/js/lib/jquery.js"></script>
    <script src="./assets/js/lib/angular.js"></script>
    <script src="./assets/js/index.js"></script>
</body>
</html>
