.hangman {
    background-color: lightblue;
    text-align: center;
}
.alphabet {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.playerTwo button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: green;
}
.playerTwo button:disabled {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: gray;
}
.selected {
    color:lightblue;
}
.wrong{
    background-color: red;
}